<!DOCTYPE html>
<html>

<head>
  <title>Trabalho Web2</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <div class="container">
    <form class="form-signin" action="/listar"><br>
      <h2 class="form-signin-heading">Entre no Sistema</h2><br>
      <label class="sr-only" for="inputEmail">Email address</label><br>
      <input class="form-control" id="inputEmail" type="email" placeholder="Email address" required="" autofocus=""><br>
      <label class="sr-only" for="inputPassword">Password</label>
      <input class="form-control" id="inputPassword" type="password" placeholder="Password" required="">
      <a href="/register">Cadastre-se</a>
      <br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

    </form>
      <br>
  
  </div>
  <!-- /container-->
  <!--
    Bootstrap core JavaScript
    ==================================================
    -->
  <!-- Placed at the end of the document so the pages load faster-->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug-->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>